.tituloLogin {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .SubTituloLogin p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ion-header {
    background-color: rgb(153, 153, 153);
  }
    
  