<ion-header [translucent]="true">

  <ion-content [fullscreen]="true">
    <ion-toolbar class="SubTituloLogin">
      <ion-title class="tituloLogin">8LO9</ion-title>
      <p>Comparte tus ideas con el mundo. ¡Tu historia comienza aquí!</p>
    </ion-toolbar>
  
    <div class="content-container">
      <div class="contenidoLogin">
        <ion-item>
          <ion-input placeholder="Correo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
      </div>
    
      <div class="button-container">
        <ion-button color="dark" expand="block">Login</ion-button>
        <p>¿No tienes una cuenta?
          <ion-button fill="clear" size="small">Registrate</ion-button>
        </p>
      </div>
    </div>
  </ion-content>
  
</ion-header>