<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar class="subTituloRegister">
        <ion-title class="tituloRegister">REGISTRO</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div class="content-container">
      <div class="DatosUsuario">
        <ion-item>
          <ion-input placeholder="Correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
      </div>
    
      <div class="button-container">
        <ion-button color="dark" expand="block">Registrarse</ion-button>
      </div>
    </div>
  </ion-content>
  

</ion-header>